## Nominal / One Hot Encoding

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
df = pd.DataFrame({
    'color' : ['red','blue','green','blue','red']
})

In [3]:
df

   color
0    red
1   blue
2  green
3   blue
4    red

In [4]:
encoder = OneHotEncoder()

In [5]:
encoder

OneHotEncoder()

In [6]:
## fit the encoder and transform the categorical data 
## Note : This method sort categorical data with respect to alphabetical order
encoded = encoder.fit_transform(df[['color']])

In [7]:
df['color'].value_counts()

red      2
blue     2
green    1
Name: color, dtype: int64

In [8]:
df

   color
0    red
1   blue
2  green
3   blue
4    red

In [9]:
encoded.toarray()

## Output
#         blue green red
# array([[0.,  0.,   1.],
#        [1.,  0.,   0.],
#        [0.,  1.,   0.],
#        [1.,  0.,   0.],
#        [0.,  0.,   1.]])

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.]])

In [10]:
df1 = pd.DataFrame(encoded.toarray(),columns = encoder.get_feature_names_out())

In [11]:
df1

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         1.0          0.0        0.0
4         0.0          0.0        1.0

In [12]:
data = pd.concat([df,df1],axis = 1)

In [13]:
data

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3   blue         1.0          0.0        0.0
4    red         0.0          0.0        1.0