## Target Guided Ordinal Encoding

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'city':['mumbai','delhi','mumbai','chennai','delhi'],
    'price':[500,490,550,420,520]
})

In [3]:
df

      city  price
0   mumbai    500
1    delhi    490
2   mumbai    550
3  chennai    420
4    delhi    520

In [4]:
## calculate the mean price of each city
mean_price = df.groupby('city')['price'].mean().to_dict()
mean_price

{'chennai': 420.0, 'delhi': 505.0, 'mumbai': 525.0}

In [5]:
df['city_encoded'] = df['city'].replace(mean_price)

In [6]:
df

      city  price  city_encoded
0   mumbai    500         525.0
1    delhi    490         505.0
2   mumbai    550         525.0
3  chennai    420         420.0
4    delhi    520         505.0