In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("std_details.csv")

In [3]:
df

,StudentId,StudentNameWithMotherName,StudentNumber,RegistrationId,EnrollmentNumber,RollNumber,Prn no
0,3924705,ABHANG PRANAY SHASHIKANT SUVARNA,4453,1334404,22071002,229001,2022016401586151
1,4259073,ACHARY ARJUN GOPALAKRISHNAN SUNIMOL,4949,1161702,22071151,229179,2022016401597616
2,3920578,ADEP VAMSHI VARAIAH PADMA,4419,1329568,22071003,229002,2022016401600516
3,3882827,AIWALE SWAPNIL RAGHU JAYSHREE,4071,1219147,22071004,229003,2022016401595173
4,3835941,AMANCHA SNEHA ANJANEYULU RAMADEVI,3677,1286619,22071005,229004,2022016401590535
...,...,...,...,...,...,...,...
135,3873260,YADAV MANISHA SURESH JAIDEVI,3940,1304880,22071130,229157,2022016401605765
136,3890175,YADAV NITU DEVMUNI MIRA,4176,1228600,22071131,229158,2022016401609593
137,3829884,YADAV PINKI SATYANARAYAN SUGI,3586,1279757,22071132,229159,2022016401605966
138,3918303,YADAV SACHIN SANTOSH POONAM,4364,1221210,22071133,229160,2022016401608214
139,3882825,YADAV SURAJ RAMSAMUJH NIRMALA,4069,1205029,22071134,229161,2022016401594765

In [4]:
s = df['StudentNameWithMotherName'][0:5]

In [5]:
pd.Series(list(s),index = [1,2,3,4,5]) # changing index of the data

1       ABHANG PRANAY SHASHIKANT SUVARNA
2    ACHARY ARJUN GOPALAKRISHNAN SUNIMOL
3              ADEP VAMSHI VARAIAH PADMA
4          AIWALE SWAPNIL RAGHU JAYSHREE
5      AMANCHA SNEHA ANJANEYULU RAMADEVI
dtype: object

In [6]:
s1 = pd.Series(list(s),index = range(1,6)) # also using range

In [7]:
s2 = pd.Series(list(s),index = ['a','b','c','d','e']) # named index

In [8]:
s3 = s1.append(s2)

C:\Users\suraj\AppData\Local\Temp\ipykernel_26516\1427911071.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s3 = s1.append(s2)

In [9]:
s3

1       ABHANG PRANAY SHASHIKANT SUVARNA
2    ACHARY ARJUN GOPALAKRISHNAN SUNIMOL
3              ADEP VAMSHI VARAIAH PADMA
4          AIWALE SWAPNIL RAGHU JAYSHREE
5      AMANCHA SNEHA ANJANEYULU RAMADEVI
a       ABHANG PRANAY SHASHIKANT SUVARNA
b    ACHARY ARJUN GOPALAKRISHNAN SUNIMOL
c              ADEP VAMSHI VARAIAH PADMA
d          AIWALE SWAPNIL RAGHU JAYSHREE
e      AMANCHA SNEHA ANJANEYULU RAMADEVI
dtype: object

In [10]:
s3[1] # during indexing it take named indexes

'ABHANG PRANAY SHASHIKANT SUVARNA'

In [11]:
s3['c'] # during indexing it take named indexes

'ADEP VAMSHI VARAIAH PADMA'

In [12]:
s3[0:7] #during slicing it takes default indexes

1       ABHANG PRANAY SHASHIKANT SUVARNA
2    ACHARY ARJUN GOPALAKRISHNAN SUNIMOL
3              ADEP VAMSHI VARAIAH PADMA
4          AIWALE SWAPNIL RAGHU JAYSHREE
5      AMANCHA SNEHA ANJANEYULU RAMADEVI
a       ABHANG PRANAY SHASHIKANT SUVARNA
b    ACHARY ARJUN GOPALAKRISHNAN SUNIMOL
dtype: object