**Class Method**

In [1]:
class student:
    
    def __init__(self,name,age):
        self.name = name
        self.age  = age
        
    @classmethod
    def get_data(cls,name,age):
        return cls(name,age)
        
    def detail(self):
        print(f"My name is {self.name} and I am {self.age} year old")

In [2]:
s = student.get_data("vivek",19) # variable

In [3]:
s.name

'vivek'

In [4]:
s.detail()

My name is vivek and I am 19 year old

In [5]:
s1 = student("ankit",20) # object

In [6]:
s1.detail()

My name is ankit and I am 20 year old

In [7]:
class person:
    mobile_no = 1122334455
    
    def __init__(self,name,age,salary):
        self.name = name
        self.age = age
        self.salary = salary
   
    @classmethod
    def change_number(cls,mobile):
        person.mobile_no = mobile
        
    @classmethod   
    def set_data(cls,name,age,salary):
        return cls(name,age,salary)
        
    def details(self):
        print(f"Name : {self.name}\nAge : {self.age}\nSalary : {self.salary}\nMobile Number : {person.mobile_no}")

In [8]:
person.change_number(7783736468)

In [9]:
person.mobile_no

7783736468

In [10]:
p = person.set_data("Vivek",19,181872)

In [11]:
p.name

'Vivek'

In [12]:
p.age

19

In [13]:
p.mobile_no

7783736468

In [14]:
p.details()

Name : Vivek
Age : 19
Salary : 181872
Mobile Number : 7783736468

**Below method is used to add external function to class**

In [15]:
def job(cls,job_name):
    print("Job name is ",job_name)

In [16]:
person.job = classmethod(job) # now it is a class member function

In [17]:
p.job("Data Scientist")

Job name is  Data Scientist