## Central Tendency

In [13]:
import numpy as np
import pandas as pd

In [2]:
import seaborn as sns

In [3]:
df = sns.load_dataset("tips")

In [4]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
# mean(average)

np.mean(df['total_bill'])

19.78594262295082

In [6]:
np.mean(df['tip'])

2.99827868852459

In [7]:
# Median
np.median(df['total_bill'])

17.795

In [8]:
np.median(df['tip'])

2.9

In [15]:
# Mode
df['sex'].mode() # no of frequency of specific data

0    Male
Name: sex, dtype: category
Categories (2, object): ['Male', 'Female']

In [10]:
# mean vs median
data = [3,7,4,8,3,5,6,20] # here 20 is outlier because it affect the data 
np.mean(data)

7.0

In [11]:
data1 = [3,7,4,8,3,5,6]
np.mean(data1)

5.142857142857143

In [12]:
np.median(data) # median used for handling outliers

5.5