## Measure of Dispersion

In [1]:
import seaborn as sn

In [2]:
df = sn.load_dataset('tips')

In [3]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
#std
df.std()

C:\Users\suraj\AppData\Local\Temp\ipykernel_13684\1232325699.py:2: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.std()

total_bill    8.902412
tip           1.383638
size          0.951100
dtype: float64

In [5]:
df['tip'].std()

1.3836381890011822

In [6]:
#var
df.var()

C:\Users\suraj\AppData\Local\Temp\ipykernel_13684\101251438.py:2: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.var()

total_bill    79.252939
tip            1.914455
size           0.904591
dtype: float64